.catalog {
    padding-top: 50px;
    background-color: #F8F8F8;

    @media (min-width: $tablet-width) {
        padding-top: 80px;
    }

    @media (min-width: $desktop-width) {
        padding-top: 49px;
    }
    
}

.catalog__title {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #7859CF;
    margin: 0;
    margin-bottom: 3px;
}

.catalog__subtitle {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1px;

    @media (min-width: $tablet-width) {
        font-size: 42px;
        font-weight: 700;
        line-height: 64px;
    }

    @media (min-width: $desktop-width) {
        font-size: 42px;
        line-height: 64px;
        margin-bottom: 20px;
    }
}

.catalog__container {
    padding: 20px 20px 0 20px;
    @media (min-width: $desktop-width) {
        display: flex;
        padding-right: 40px;
        padding-left: 40px;
    }
}