.footer-contacts {
    padding: 17px 20px 21px;
    box-shadow: 0 1px 1px #f0ebff;

    @media (min-width: $tablet-width) {
        width: 223px;
        box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
        padding-right: 0;
    }
}

.footer-contacts__section-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 16px;
    color: #7859CF;
}

.footer-contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contacts__list-item {
    position: relative;
    margin-bottom: 16px;

    &:last-child {
        margin: 0;
    }
}
.footer-contacts__link {
    display: inline-block;
    padding-left: 19px;
}

.footer-contacts__link--address::after {
    position: absolute;
    width: 13px;
    height: 16px;
    top: 4px;
    left: -1px;
    background-image: url("/img/icons/stack.svg#contacts-pin");
    content: "";
}

.footer-contacts__link--tel::after {
    position: absolute;
    width: 13px;
    height: 16px;
    top: 4px;
    left: -1px;
    background-image: url("/img/icons/stack.svg#contacts-tel");
    content: "";
}

.footer-contacts__contacts {
    font-size: 14px;
    line-height: 20px;
}
