.form {
    margin-bottom: 40px;
    
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
        flex-shrink: 0;
        width: 318px;
        padding: 0;
    }
}

.form__filter-group {
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
        width: 223px;
        padding: 0;
    }

    @media (min-width: $desktop-width) {
        width: 100%;
    }
}

.form__filter-group--radio{
    margin-bottom: 14px;
}

.form__filter-group--checkbox{
    margin-bottom: 10px;
}

.form__filter-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 29px;
}

.form__filter-group--radio .form__filter-title {
    margin-bottom: 20px;
}

.form__filter-group--checkbox .form__filter-title {
    margin-bottom: 4px;
}


.form__price-container {
    position: relative;
    display: flex;
    padding-top: 0;
    justify-content: space-between;
}

.form__price-container::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    background: #bdbdbd;
    left: 50%;
    margin-left: -4px;
    top: 50%;
}

.form__price-input {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    width: 117px;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #9070EC;

    @media (min-width: $tablet-width) {
        width: 88px;
        box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
        width: 134px;
    }
}

.radio-type__list {
    list-style: none;
    padding-left: 34px;
    margin: 0;
}

.checkbox-type__list {
    list-style: none;
    padding-left: 51px;
}

.radio-type__item {
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}

.checkbox-type__item {
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}

.control__window {
    position: absolute;
    top: 0px;
    left: -33px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 16px;
    border: 2px solid #BDBDBD;
    background-color: #ffffff;
}


.control:hover .control__input[type="radio"] + .control__window::after,
.control:focus .control__input[type="radio"] + .control__window::after,
.control__input[type="radio"]:checked + .control__window::after,
.control__input[type="radio"]:focus + .control__window::after  {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    border-radius: 10px;
    background-color: #7859CF40;
    background-size: 16px 16px;
    content: "";
}

.control .control__input[type="radio"]:checked + .control__window::after {
    background-color: #9070EC;
}

.control__input[type="radio"]:focus + .control__window {
    border: 2px solid #9070EC;
}

.control__input[type="radio"]:focus + .control__window::after  {
    background-color: #7859CF40;
}

.control__input[type="radio"]:disabled + .control__window + .conrol__title {
    color: #e3e3e3;
}

.control:hover .control__input[type="radio"]:disabled + .control__window::after{
    display: none;
}

.control__input[type="radio"]:disabled + .control__window {
    border-color: #e3e3e3
}

.control__switch {
    position: absolute;
    top: 0px;
    left: -50px;
    width: 38px;
    height: 20px;
    border-radius: 16px;
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
}

.control:focus .control__switch, 
.control:hover .control__switch {
    background-color: #8f70ed36;
    border-color: #9070ec;
}


.control__input[type="checkbox"] + .control__switch::after {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #ffffff;
    background-size: 16px 16px;
    content: "";
}

.control__input[type="checkbox"]:focus + .control__switch {
    background-color: #8f70ed36;
    border-color: #9070ec;
}

.control__input[type="checkbox"]:checked + .control__switch{
    background-color: #7859cf;
    border-color: #7859cf;
}

.control__input[type="checkbox"]:disabled + .control__switch{
    background-color: #e3e3e3;
    border-color: #e3e3e3;
}

.control__input[type="checkbox"]:disabled + .control__switch + .conrol__title {
    color: #e3e3e3;
}

.control__input[type="checkbox"]:checked + .control__switch::after {
    left: auto;
    right: 0;
}

.checkbox-type__list {
    list-style: none;
}

.form__button-group {
    text-align: center;

    @media (min-width: $tablet-width) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 9px;
    }

    @media (min-width: $desktop-width) {
        margin: 0;
        display: flex;
        max-height: 40px;
    }
}

.form__button {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    width: 280px;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
}

.submit-button {
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #7859cf;

    @media (min-width: $tablet-width) {
        margin-bottom: 0;
        margin-right: 20px;
        width: 137px;
    }

    @media (min-width: $desktop-width) {
        width: 149px;
    }

    &:hover,
    &:focus {
        background-color: #9070EC;
    }
    &:active {
        background-color: #593CAC;
    }
    &:disabled {
        background-color: #BDBDBD;
    }
}

.reset-button {
    color: #7859cf;
    background-color: #ffffff; 

    @media (min-width: $tablet-width) {
        width: 120px;
    }

    @media (min-width: $desktop-width) {
        width: 149px;
    }

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: #9070EC;
    }
    &:active {
        color: #ffffff;
        background-color: #593CAC;
    }
    &:disabled {
        color: #ffffff;
        background-color: #BDBDBD;
    }
}

.range__scale {
    position: relative;
    height: 2px;
    margin-bottom: 36px;
    background-color: rgb(226, 226, 226);

    @media (min-width: $tablet-width) {
        margin-bottom: 33px;
    }
}

.range__bar {
    position: absolute;
    height: 4px;
    background-color: #9070ec;
}

.range__toggle {
    position: absolute;
    top: -10px;
    width: 24px;
    height: 24px;
    background-color:  #FFF;
    border-radius: 24px;
    border: 2px solid #9070ec;
    cursor: pointer;
}

.toggle-min {
    left: 0;
}

.toggle-max {
    right: 0;
}
