.nav-footer {
    @media (min-width: $tablet-width) { 
        display: flex;
    }

    @media (min-width: $desktop-width) {
        
    }
}

.nav-footer__container {
    padding: 20px;
    box-shadow: 0px 1px 1px #f0ebff;

    @media (min-width: $tablet-width) { 
        width: 223px;
        box-shadow: none;
    }

    @media (min-width: $desktop-width) {
        width: 317px;
        padding: 0;
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }
    }
}

.nav-footer__section-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 12px;
    color: #7859CF;
}

.nav-footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-footer__list-item {
    margin-bottom: 4px;
    padding: 8px 0;

    &:last-child {
        padding-bottom: 0;
    }
}

.nav-footer__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}