.navigation {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
        flex-wrap: nowrap;
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.navigation__logo-link {
    display: inline-block;
    padding: 12px 20px;

    @media (min-width: $tablet-width) {
        padding: 22px 20px;
    }

    @media (min-width: $desktop-width) {
        padding: 22px 0;
    }
}

.navigation__logo-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 36px;
    
    @media (min-width: $tablet-width) {
        width: 82px;
        height: 36px;
    }

    @media (min-width: $desktop-width) {
        width: 170px;
        height: 36px;
    }
}

.navigation__toggle {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    background-image: url("/img/icons/stack.svg#burger-toggle");
    background-repeat: no-repeat;
    border: none;

    .navigation--opened & {
        background-image: url("/img/icons/stack.svg#close");
        top: 24px;
        right: 22px;
        width: 12px;
        height: 12px;
    }

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.navigation--nojs .navigation__toggle {
    display: none;
  }

.navigation__list {
    margin: 0;
}

.navigation__description {
    @media (max-width: $desktop-width) {
        @include visually-hidden;
    }

    @media (min-width: $desktop-width) {
        display: inline-block;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        line-height: 16px;
        width: 126px;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 20px;
    } 
}

@media (max-width: $mobile-width-only) {
    .navigation--opened .site-list {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #fff;
        z-index: 10;
    }
  
  
    .navigation--closed .site-list {
      display: none;
    }
  }