.page-footer__copyright {
  padding: 20px 57px 30px;
}

.page-footer__copyright-link {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.page-footer__copyright-title {
    font-size: 12px;
    line-height: 16px;
    color: #BDBDBD;
    margin: 0;
}