.user-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px 0 auto;
    list-style: none;

    @media (min-width: $tablet-width) {
        margin: 0 0 0 auto;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
    }

    @media (min-width: $desktop-width) {
        padding-left: 0;
    }
}

.user-list__item {
    line-height: 16px;

    @media (min-width: $desktop-width) {
        &:first-child {
            margin-right: 17px;
        }
    } 
}

.user-list__item-link {
    display: inline-block;
    padding: 22px;
    text-decoration: none;

    @media (min-width: $tablet-width) {
        padding: 32px 22px;
    }
}

.user-list__icon {
    display: inline-block;
    vertical-align: bottom;
    fill: #333333;
}

.user-list__item-link:hover .user-list__icon{
    fill: #7859cf;
}

.user-list__item-link:hover {
    color: #7859cf;
}

.user-list__item-link:active {
    background-color: #F0EBFF;
    color: #7859cf;
}

.user-list__link-text {
    @media (max-width: $tablet-width-only) {
        @include visually-hidden;
        display: inline-block;
        margin-left: 8px;
    }
    
    @media (min-width: $desktop-width) {
        display: inline-block;
        margin-left: 5px;
        color: #333333;
    } 
}