.user-list {
    display: flex;
    margin: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
        margin-left: auto;
    }
}

.user-list__item {
    line-height: 16px;
    padding: 22px 22px;
}

.user-list__icon {
    display: inline-block;
    vertical-align: bottom;
}